<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying Topic in Check boxes</h1>
        <form method="POST" action="{% url 'select_multiple' %}">
            {% csrf_token %}

            {% for i in ts %}
                <label for="topic">{{i.topic_name}}</label>
                <input type="checkbox" name="topic" id="topic" value="{{i}}">
                <br>
                {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>